@font-face {
    font-family: 'Circular Std';
    src: url('fonts/CircularStd-MediumItalic.eot');
    src: local('fonts/Circular Std Medium Italic'), local('CircularStd-MediumItalic'),
        url('fonts/CircularStd-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/CircularStd-MediumItalic.woff2') format('woff2'),
        url('fonts/CircularStd-MediumItalic.woff') format('woff'),
        url('fonts/CircularStd-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Circular Std';
    src: url('fonts/CircularStd-Black.eot');
    src: local('fonts/Circular Std Black'), local('CircularStd-Black'),
        url('fonts/CircularStd-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/CircularStd-Black.woff2') format('woff2'),
        url('fonts/CircularStd-Black.woff') format('woff'),
        url('fonts/CircularStd-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std';
    src: url('fonts/CircularStd-Medium.eot');
    src: local('fonts/Circular Std Medium'), local('CircularStd-Medium'),
        url('fonts/CircularStd-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/CircularStd-Medium.woff2') format('woff2'),
        url('fonts/CircularStd-Medium.woff') format('woff'),
        url('fonts/CircularStd-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std';
    src: url('fonts/CircularStd-Bold.eot');
    src: local('fonts/Circular Std Bold'), local('CircularStd-Bold'),
        url('fonts/CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/CircularStd-Bold.woff2') format('woff2'),
        url('fonts/CircularStd-Bold.woff') format('woff'),
        url('fonts/CircularStd-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std';
    src: url('fonts/CircularStd-BlackItalic.eot');
    src: local('fonts/Circular Std Black Italic'), local('CircularStd-BlackItalic'),
        url('fonts/CircularStd-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/CircularStd-BlackItalic.woff2') format('woff2'),
        url('fonts/CircularStd-BlackItalic.woff') format('woff'),
        url('fonts/CircularStd-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Circular Std Book';
    src: url('fonts/CircularStd-BookItalic.eot');
    src: local('fonts/Circular Std Book Italic'), local('CircularStd-BookItalic'),
        url('fonts/CircularStd-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/CircularStd-BookItalic.woff2') format('woff2'),
        url('fonts/CircularStd-BookItalic.woff') format('woff'),
        url('fonts/CircularStd-BookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Circular Std';
    src: url('fonts/CircularStd-BoldItalic.eot');
    src: local('fonts/Circular Std Bold Italic'), local('CircularStd-BoldItalic'),
        url('fonts/CircularStd-BoldItalic.eot') format('embedded-opentype'),
        url('fonts/CircularStd-BoldItalic.woff2') format('woff2'),
        url('fonts/CircularStd-BoldItalic.woff') format('woff'),
        url('fonts/CircularStd-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Circular Std Book';
    src: url('fonts/CircularStd-Book.eot');
    src: local('fonts/Circular Std Book'), local('CircularStd-Book'),
        url('fonts/CircularStd-Black.eot') format('embedded-opentype'),
        url('fonts/CircularStd-Black.woff2') format('woff2'),
        url('fonts/CircularStd-BlackItalic.woff') format('woff'),
        url('fonts/CircularStd-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



body{
    font-family: "Circular Std Book";
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

img {
    max-width: 100%;
    /* height: auto; */
}

a {
    display: block;
}

ul,
ol {
    list-style: none;

}

.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}

.container {
    width: 1140px;
    margin: 0 auto;
    
}
/*****(************@media**************** */
@media(max-width:1280px){
    .container{
        width: 1180px;
    }
.navbar{
    width: 1180px;
}
.header-picture , .header-info{
    width: 45%;
}
.container .box-2-item{
    width: 25%;
}


}
@media(max-width:1160px){
    .container{
        width: 1000px;
    }
    .navbar{
        width: 1000px;
    }
    .header-info .header-info-title{
        font-size: 40px;
        line-height: 45px;
    }
    .container .box-1-box{
        margin-left: 100px;
        width: 800px;
    }
    .container .box-1-info{
        margin-bottom: 40px;
    }
    .container .box-5-form-input{
        padding: 15px 50px;
    }
    .container .box-5-button-1{
        font-size: 16px;
        width: 270px;
        padding: 15px 70px;
    }
    .container .box-5-blok-item{
        width: 40%;
    }
    .container .box-2-blok{
        width: 1000px;
    }


}
@media(max-width:1020px){
    .container{
        width: 900px;
    }.navbar{
        width: 900px;
    }
    .header-info .header-info-title{
        font-size: 35px;
        line-height: 40px;

        width: 300px;
    }
    
    .container .box-1-box{
        margin-left: 0px;
        width: 800px;
    }
    .container .box-1-title{
        margin-bottom: 15px;

    }
    .box-1 .box-1-first{
        padding-top: 50px;
    }
    .box-1 .box-1-first .box-1-first-title{
padding-bottom: 15px;

    }
    .container .box-1-first-text{
        width: 200px;
    }
    .container .box-4-picture-img{
        padding-right:150px;
    }
    .container .box-4-info-text{
        width: 400px;
    }
    .container .box-5-form-input{
        padding: 15px 38px;
    }
    .container .box-5-button-1{
        font-size: 16px;
        width: 240px;
        padding: 15px 55px;
    }
    .container .box-5-blok-info .box-5-blok-text{
        width: 250px;
    }
    .container .box-5-blok-title{
        font-size: 20px;
    }
    .container .box-2-blok{
        width: 850px;
    }
    .container .box-5-item{
        width: 29%;
    }
        .container .box-2-blok-part-item{
            width:26%}
        .container .box-2-blok-part-text{
            width: 230px;
        }
        .container .box-5-blok-list{
            justify-content: center;
        }
}
@media(max-width:920px){
    .container{
        width: 800px;
    }
    .navbar{
        width: 800px;
    }
    .header-info-item .header-info-item-text{
        font-size: 17px;
        line-height: 23px;
    }
   .container .navbar .nav-list-icon{
    width: 35px;
        display: block;
        
    }
    .container .nav-list {
        display: none;
    }
    
    .container .box-1-box{
        margin-left: 40px;
        width: 700px;
        height: 290px;
    }
    .box-1 .box-1-box-text{
        font-size: 17px;
        line-height: 24px;
        width: 300px;
    }
    .box-1 .box-1-box-info{
        margin-left: 90px;
    }
    .container .box-2-title {
        font-size: 35px;
        line-height: 40px;
        margin-bottom: 10px;
    }
    .box-2-item-text{
        font-size: 16px;}
        .container .box-2-blok-link{
            font-size:16px;
        }
        .container .box-2-blok-part-text{
            width: 250px;
        }
        .container .box-2-blok-part-img{
            width: 100px;
            margin-bottom: 10px;
        }
        .container .box-2-blok-link{
            width: 190px;
            font-size: 15px;
            line-height: 18px;
        }
        .container .box-2-blok-text{
            width: 280px;
        }
        .box-3 .box-3-item{
            width: 25%;
        }

        .container .box-5-form-input{
            padding: 15px 34px;
            padding-left: 40px;
            width: 210px;
        }
        .container .box-5-button-1{
            font-size: 16px;
            width: 210px;
            padding: 12px 40px;
        }
        .container .box-5-blok-info .box-5-blok-text{
            width: 200px;
        }
        .container .box-5-blok-title{
            font-size: 20px;
        }
        .container .box-5-blok-list{
            margin-top: 15px;
        }
        .container .box-5-blok-item{
            margin: 45px 45px;
        }
        
    .container .box-5-blok-item{
        width: 34%;
    }
    .container .box-5-blok-list .box-5-blok-item .box-5-blok-title{
        font-size: 18px;
        margin-bottom: 10px;
    }
    .container .box-5-blok-list .box-5-blok-item .box-5-blok-info{
        width: 200px;

    }   
    .container .box-5-blok-item  .box-5-blok-icon{
        width: 0%;
    }
    .container .box-5-blok-list .box-5-blok-text{
        width: 240px;
    }

}
@media(max-width:820px){
    .container{
        width: 700px;
    }.navbar{
        width: 700px;
    }
    .header-part{
        flex-direction: column;
        
        
    }
    .container .header-info{
        padding-top: 10px;
    }
    .container .navbar .nav-list-icon{
        width: 35px;
            display: block;
            margin-right: 530px;
        }
        .container .box-1-box{
        margin-left: 40px;
        width: 700px;
        height: 280px;
    }
    .container .box-1-title{
        font-size: 35px;
        line-height: 38px;
        margin-bottom: 12px;
    }
    .box-1 .box-1-box-text{
        font-size: 16px;
        line-height: 18px;
        width: 270px;
    }
    .box-1 .box-1-box-info{
        margin-left: 90px;
    }.container .box-1-box{
        margin-left: 40px;
        width: 620px;
    }
    .box-1-first .box-1-first-text{
        font-size: 14px;
        line-height: 22px;
        width: 220px;
    }
    .container .box-2-blok-text{
        font-size: 15px;
    }
    .container .box-2-blok-text{
        width: 250px;
    }
    .container .box-2-blok-link{
        width: 180px;
        font-size: 15px;
        line-height: 18px;
    }
    .container .box-2-blok-part-text{
        width:200px;
    }
    .box-3 .box-3-list{
        flex-direction: column;
    }
    .box-3 .box-3-item{
        width: 50%;
        margin: 20px 0px;
    }
    .container .box-4-title{
        font-size: 30px;
        line-height: 40px;
        margin-top: 15px;
        margin-bottom: 20px;
    }
    .container .box-4-picture-img{
        padding-right: 0px;
        margin-left: 1px;
        margin-bottom: 40px;
        margin-top: 20px;
    }
    .container .box-4-info-text{
        width: 280px;
    }
    .container .box-4-part{
        flex-direction: column;
    }
    .container .box-4-info{
        margin-left: 150px;
    }
    .container .box-5-form-input{
        padding: 15px 40px;
        width: 170px;
        
    }
    .container .box-5-button-1{
        font-size: 16px;
        width: 170px;
        padding: 15px 15px;
        margin-top: 20px;
    }
    .container .box-5-blok-info .box-5-blok-text{
        width: 220px;
    }
    .container .box-5-list .box-5-item .box-5-link-2{
        font-size: 18px;
        padding-bottom: 8px;
    }
    .box-6 .box-6-title{
        font-size: 30px;
        line-height: 30px;
    }

}
@media(max-width:720px){
    .container{
        width: 600px;
    }.navbar{
        width: 600px;
    }
    .header-info .header-info-link-about{
        font-size: 16px;
    }
    
    .container .navbar .nav-list-icon{
        width: 35px;
            display: block;
            margin-right: 620px;
        }
        .box-1-first-list{
            flex-direction: column;
        }
        .box-1-first-list .box-1-first-item{
            margin: 15px 0px;
        }
        .box-1-box-img{
            width: 0%;
        }
        .box-1 .container  .box-1-box .box-1-box-info{
            flex-direction: column;
            
            margin-right: 350px;
            
        }
        .box-1 .container  .box-1-box {
            width: 400px;
            height: 240px;
            margin-left: 100px;
            text-align: center;
        }
        .container .box-1 .box-1-box-text{
            font-size: 18px;
            line-height: 25px;
        }
        .strelka-left,.strelka-right{
            width: 50px;
        }

        .box-1 .container  .box-1-box .box-1-box-info{
 
    
            margin-left: 0px;
            
        }
        .container .box-5-form-input{
            padding: 15px 38px;
            width: 150px;
            
        }
        .container .box-5-item .box-5-button-1{
            font-size: 15px;
            width: 150px;
            padding: 15px 12px;
            margin-top:-7px;
            margin-top: 18px;
        }
        .container .box-5-blok-info .box-5-blok-text{
            width: 200px;
        }
        .container .box-5-item .box-5-link-1{
            width: 150px;
            padding:16px;
            font-size: 15px;
        }
        .container .box-5-item .box-5-item-text{
            margin-bottom: 10px;
            font-size: 16px;
            line-height: 18px;
        }
        .container .box-5-link-2{
            font-size: 16px;
            line-height: 16px;
            width: 180px;
            margin-top: 80px;
        }
        .container .box-5-list .box-5-button-1{
            margin-top: 60px;
        }
        .container .box-5-list{
            flex-direction: column;
        }
        .container .box-5-item{
            width: 300px;
            margin: 25px 0px;
        }
        .container  .box-5-item-text{
            font-size: 18px;
            width: 200px;
            margin-left: 40px;
        }
        .container  .box-5-item-text-2{
            font-size: 18px;
            width: 200px;
            margin-left: 40px;
        }
        .container .box-5-form .box-5-form-input{
            width: 200px;
        }
        .container .box-5-form{
            position: relative;
        }
        .container .box-5-item .box-5-form-icon{
            position:absolute;
            left: 12%;
            top: 5%;
        transform: translate(50%,50%);
            
        }
        .container .box-5-item .box-5-link-1{
            margin-left:60px;
        }
        .container .box-5-item .box-5-link-2{
            margin-left:60px;
            width: 170px;
        }
        .container .box-5-blok-list{
            flex-direction: column;
            margin-right: 60px;
        }
}

@media(max-width:620px){
    .container{
        width: 500px;
    }
    .header-footer .header-footer-1 .header-footer-info{
        font-size: 16px;
        line-height: 20px;
        width: 250px;
}

.header-info .header-info-link-about{
    font-size: 16px;
    width: 300px;
}

.container .navbar .nav-list-icon{
    width: 35px;
        display: block;
        margin-right: 730px;
    }
    .box-1 .container  .box-1-box {
        width: 400px;
        height: 240px;
        margin-left: 50px;
        text-align: center;
    }
    .container .box-1-title{
        font-size: 28px;
        line-height: 35px;
        margin-bottom: 8px;
    }
    .container .box-1-box-img{
        width: 0;
    }
    .container .box-1-box-info{
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-left: -10px;
        
    }
    .strelka-left,.strelka-right{
        width: 50px;
    }
    .container .box-1-box-text{
        width: 250px;
    }
    .container .box-1-info{
        
        font-size: 18px;
    }
    .container .box-1 .box-1-box .box-1-box-text{
        font-size: 20px;
        line-height: 30px;
    }
    .container .box-1-first{
        flex-direction: column;
    }
    .container .box-1-first-list{
        flex-direction: column;
    }
    .container .box-2-item .box-2-link{
        flex-direction: column;
    }
    .container .box-2-item .box-2-item-text{
        margin-top: 25px;
    }
    .container .box-2-blok .box-2-blok-info{
        flex-direction: column;
        margin-right: 50px;
    
    }
    .container .box-2-blok-img{
        width: 0;
    }
    .container .box-2-blok-info .box-2-blok-title{
        font-size:17px;
        margin-bottom: 5px;
        

    }
    .container .box-2-blok-link{
        font-size: 15px;
        width:200px;
        margin-top: 15px;
    }
    .container .box-2-blok-part-list{
        flex-direction: column;
        
    justify-content: center;
    }
    .container .box-2-blok-part-item{
        margin:25px 0px;
        width: 40%;
    }
    .box-3 .box-3-title{
        font-size: 35px;
        line-height: 35px;
    }
    .box-3 .container .box-3-item-text{
        text-align: justify;
    }
    .container .box-4-info-text{
        width: 220px;
    }
    .container .box-6-link{
        font-size: 16px;
        width: 240px;
    }
    .container .box-6-info  .box-6-text{
        width: 200px;
    }
    .container .footer .footer-link{
        font-size: 0px;
    }
    .container .footer-text{
        font-size: 0px;
    }
    .container .footer-title-link{
        font-size: 0px;
    }
}
@media(max-width:520px){
    .container{
        width: 400px;
    }
    .container .header-info .header-info-title{
        font-size: 25px;
        width: 200px;
        line-height: 25px;
    }
    .container .header-info-item .header-info-item-text{
        font-size: 14px;
        line-height: 14px;
    }
    .container .header-info-link{
        font-size: 17px;
        padding: 10px 5px;
        width: 250px;
    }
    .container .header-info .header-info-link-about{
        font-size: 14px;
        width: 400px;
    }
    .container .header-footer{
        margin-left: 10px;
    }
    
.container .navbar .nav-list-icon{
    width: 35px;
        display: block;
        margin-right: 830px;
    }
    .box-1 .container  .box-1-box {
        width: 300px;
        height: 280px;
        text-align: center;
    }
.box-1 .container .box-1-box .box-1-box-text{
    width: 150px;
    padding-bottom: 20px;
}
.box-3 .container .box-3-title{
    font-size: 30px;
    /* margin-bottom: 10px;x */
    padding-bottom: 10px;
}
.container .box-3-text{
    font-size: 16px;
    padding-bottom: 10px;
}
.container .box-4-info{
    margin-left: 50px;
}
.box-6 .container .box-6-info-1{
    flex-direction: column;
}

}

@media(max-width:420px){
    .container{
        width: 90%;
    }
    .container .header-footer{
        flex-direction: column;
        margin-top: 40px;
    }
    .header-info-list .header-info-item .header-info-item-text{
        font-size: 13px;
        line-height: 17px;
    }
    
.container .navbar .nav-list-icon{
    width: 35px;
        display: block;
        margin-right: 860px;
    }
    .box-1 .container  .box-1-box {
        width: 180px;
        height: 350px;
        margin-left: 20px;
        text-align: center;
    }

    .box-1 .container .box-1-box .box-1-box-text{
        width: 100px;
        padding-bottom: 20px;
    }
    .box-3 .container .box-3-title{
        font-size: 23px;
        /* margin-bottom: 10px;x */
        padding-bottom: 10px;
    }

    .container .box-4-info{
        margin-left: 30px;
        width: 200px;
    }

}
/* ****************header******************** */

.navbar {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    
}

.header {
    background-color: #F2F2F2;



}
.container .box-6-text{
    width: 300px;
}
.nav-list-icon{
    width: 35px;
    display: none;
}

.nav-title-link {
    text-decoration: none;
    color: black;
    
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    display: block;
    z-index: -1;
    display: flex;
    align-items: center;
    padding: 3px;
    font-size: 18px;
    margin: 5px 10px;
    text-decoration: none;
    color: inherit;

    
}
.nav-link1 {
    display: flex;
    align-items: center;
    padding: 3px;
    font-size: 18px;
    margin: 5px 10px;
    text-decoration: none;
    color: inherit;
    
}


.dropdown:hover .dropdown-icon {
    transform: rotate(90deg);
}


.dropdown-icon {
    transition: transform 0.3s;
    width: 15px;
    margin-left: 15px;
}
.subdropdown-icon{
    width: 15px;
    margin-left: 15px;
    transition: transform 0.3s;

}
.subdropdown:hover .subdropdown-icon{
    transform: rotate(90deg);
}
.subdropdown{
    position: relative;
}
.subdropdown-list{
    
    display: none;
    background-color: white;
    border: 1px solid #EAE9F2;
    padding: 20px 0;
    width: 100%;
    position: absolute;
    border-top: 3px solid red;
    right: 100%;
    top:0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.subdropdown:hover .subdropdown-list{
    display: block;
}

.get-started1{
    width: 200px;
    text-align: center;
    margin-left:35px;
    margin-bottom: 18px;
    padding: 12px 9px;
    background-color: #F04037;
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 5px;
   
}
.get-start{
    width: 300px;
    text-align: center;
    margin-left:-5px;
    margin-bottom: 18px;
    padding: 12px 9px;
    background-color: #F04037;
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 5px;
   
}
.get-start:hover{
    color:black;
    transition: 0.3s;
}
.get-started1:hover{
    color: black;
    transition: 0.3s;
}
.dropdown {
    position: relative;
}

.dropdown:hover .dropdown-list {
    display: block;
}

.subdropdown{
    position: relative;

}
.subdropdown:hover  .subdropdown-list{
    display: block;
    
}

.dropdown-list {
    display: none;
    background-color: white;
    border: 1px solid #EAE9F2;
    padding: 20px 0;
    width: 200%;
    position: absolute;
    border-top: 3px solid #5454D4;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.subdropdown-link{
    padding:10px 20px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: 0.3s;
}
.subdropdown-link:hover, .dropdown-link:hover{
    color:orangered;
}
.dropdown-link {
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
    /* margin-left: 200px; */
    font-size: 18px;
}
.header-info-link-about {
    display: flex;
}

.header-picture,
.header-info {
    width: 45%;
}
.header-info{
    padding-top: 200px;
}
.header-picture-img {
    width: 90%;
    padding-top: 70px;
    
}

.header-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header-info-title {
    font-size: 50px;
    line-height: 60px;
    color: #19191B;
    letter-spacing: -1.85px;
    margin-bottom: 40px;
}

.header-info-list {
    margin-bottom: 40px;
}

.header-info-item {
    width: 400px;
    margin: 12px 0px;
    display: flex;
    /* justify-content: center; */
    align-items: center;

}

.header-info-item-text {
    font-size: 19px;
    line-height: 25px;
    letter-spacing: -0.656526px;
    color: #19191B;
}

.header-info-icon {
    margin-right: 15px;
}

.header-info-link {
    background-color: #F0544C;
    border: 1px solid #C31A12;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    display: block;
    width: 350px;
    margin-bottom: 30px;
    transition: 0.3s;

}

.header-info-link:hover {
    box-shadow: 5px 5px 5px 5px rgb(156, 146, 146);
    color: black;
    
}

.header-info-link-about {
    font-size: 18px;
}

.header-info-link-link {
    margin-left: 15px;
    text-decoration: none;
    color: #6666c8;
}

.header-footer {
    display: flex;
}

.header-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.header-footer-1 {
    margin-left: 30px;

}

.header-footer-info {
    width: 440px;
    margin-bottom: 20px;
    line-height: 25px;
}

.dropdown-img:hover {
    transform: rotate(90deg);
    translate: 0.3s;

}

.box-1 {
    
    /* text-align: center; */
    background-color: #F2F2F2;
    padding: 50px;

}

.box-1-box {
    padding: 50px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    
    box-shadow: 10px 10px 5px 5px rgb(240, 235, 235);
    position: relative;
}

.box-1-box-info {
    width: 60%;
}

.box-1-box-picture {
    width: 35%;
}

.box-1-title {
    margin-bottom: 30px;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    letter-spacing: -1.87579px;
    color: #19191B;

}

.box-1-info {
    font-size: 19px;
    line-height: 29px;
    text-align: center;
    letter-spacing: -0.656526px;
    color: #696871;
    margin-bottom: 100px;
}

.box-1-box-link {
    font-size: 16px;
    text-decoration: none;
    line-height: 28px;
    letter-spacing: -0.500211px;
    color: #5454D4;
    padding-bottom: 20px;
}

.box-1-box-title {
    font-size: 22px;
    line-height: 25px;
    letter-spacing: -0.750316px;
    color: #19191B;
    margin-bottom: 20px;
}

.box-1-box-text {
    font-size: 19px;
    line-height: 29px;
    letter-spacing: -0.656526px;
    color: #19191B;
    width: 400px;
}

.box-1-box-img {
    margin-left: 80px;
}

.left-img {
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: #fff;
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.right-img {
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #5454D4;
    border-radius: 50%;
    border: 1px solid #5454D4;
    cursor: pointer;
}

.box-1-first-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box-1-first {
    padding-top: 150px;
}

.box-1-first-title {
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.750316px;
    color: #19191B;
    padding-top: 30px;
    padding-bottom: 30px;
}

.box-1-first-text {
    width: 218px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.500211px;
    color: #696871;
}

.box-2 {
    padding: 80px;
    text-align: center;
    background-color: #F2F2F3;
}

.box-2-title {
    margin-top: 40px;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    letter-spacing: -1.87579px;
    color: #19191B;
    margin-bottom: 15px;
}

.box-2-text {
    font-size: 19px;
    line-height: 29px;

    text-align: center;
    letter-spacing: -0.656526px;
    color: #696871;
    margin-bottom: 40px;
}

.box-2-list {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}

.box-2-item {
    width: 30%;
    background-color: #fff;
    margin: 10px 10px;
    padding: 30px;

    border-radius: 10px;
    border: 1px solid white;

}

.box-2-link {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;

}

.box-2-item:hover {
    background-color: rgb(176, 255, 19);
    transition: 0.3s;
    border: 1px solid rgb(176, 255, 19);
}

.box-2-item-text {
    font-size: 21px;
    line-height: 25px;
    letter-spacing: -0.656526px;
    text-align: justify;
    margin-left: 10px;
    color: #19191B;
}

.box-2-blok {
    margin-top: 80px;
    background-color: #413E65;
    box-shadow: 0px 52px 54px rgba(65, 62, 101, 0.296766);
    border-radius: 10px;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1140px;
}

.box-2-blok-picture {
    width: 20%;
}

.box-2-blok-info {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-2-blok-link {
    background-color: #F0544C;
    border: 1px solid #C31A12;
    border-radius: 5px;
    display: block;
    text-decoration: none;
    font-size: 24px;
    padding: 12px 35px;
    color: #fff;
}

.box-2-blok-link:hover {
    color: black;
    transition: 0.3s;
}

.box-2-blok-title {
    font-size: 20px;
    color: #fff;
    padding-bottom: 15px;
    line-height: 25px;
}

.box-2-blok-text {
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    width: 400px;
    line-height: 20px;
}

.box-2-blok-part-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

.box-2-blok-part-text {
    font-size: 21px;
    line-height: 29px;
    text-align: center;
    letter-spacing: -0.656526px;
    color: #696871;
    margin-top: 40px;
    width: 300px;
}
.box-2-blok-part-item{
    width: 27%;
}

.box-3 {
    padding: 50px;
    background-color: #F2F2F2;
    text-align: center;
}

.box-3-title {
    font-size: 50px;
    line-height: 60px;
    
    text-align: center;
    letter-spacing: -1.87579px;
    color: #19191B;
    padding-bottom: 20px;
}

.box-3-text {
    font-size: 19px;
    line-height: 29px;
    text-align: center;
    letter-spacing: -0.656526px;
    padding-bottom: 30px;
    color: #696871;
}

.box-3-list {
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;


}

.box-3-item {
    background-color: white;
    padding: 15px;
    margin: 0px 15px;
    width: 30%;
}

.box-3-icon {
    padding-bottom: 40px;
    /* margin-right: 200px; */
}

.box-3-item-text {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.656526px;
    color: #19191B;
}

.box-3-item-blok {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: justify;
}

.box-3-item-blok-info {
    margin-left: 20px;
}

.box-3-item-blok-text {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.500211px;
    color: #696871;

}

.box-3-blok-link {
    text-decoration: none;
    margin-top: 80px;
    color: #5454D4;
    font-size: 18px;
    margin-bottom: 80px;
    display: block;
}

.box-3-blok-link:hover {
    color: red;
    transition: 0.3s;
}

.box-4 {
    background-color: #F2F2F2;
    padding: 50px;
    padding-top:10px;
}

.box-4-picture {
    width: 40%;
}

.box-4-info {
    width: 55%;
}

.box-4-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-4-title {
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    letter-spacing: -1.87579px;
    color: #19191B;
    margin-bottom: 100px;
    margin-top: 50px;
}

.box-4-picture-img {
    margin-left: 150px;
    margin-bottom: 180px;
}

.box-4-info-name {
    font-size: 22px;
    font-weight: bold;

    margin-bottom: 50px;
}

.box-4-info-text {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.500211px;
    color: #696871;
    width: 550px;
}

.box-5 {
    background-color: #413E65;
    padding: 50px;
    text-align: center;
    padding-bottom: 100px;

}
.box-5 .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box-5-title {
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    letter-spacing: -1.87579px;
    color: #FFFFFF;
    width: 350px;
    padding-top: 50px;
}

.box-5-text {
    font-size: 19px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.656526px;
    color: rgba(255, 255, 255, 0.7);
    padding-bottom: 50px;
    padding-top: 20px;width: 350px;
    text-align: center;
}

.box-5-list {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
}

.box-5-item {
    width: 30%;
    height: 400px;
    margin: 0px 15px;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
}

.box-5-button {
    color: rgb(64, 64, 182);
    background-color: white;
    border: 1px solid white;
    margin-bottom: 40px;
    margin-top: 30px;
}

.box-5-item-img {
    margin-bottom: 30px;
}

.box-5-item-text {
    line-height: 29px;
    font-size: 19px;
    text-align: center;
    letter-spacing: -0.656526px;

    color: #19191B;
    margin-bottom: 30px;

}

.box-5-form {
    position: relative;
}

.box-5-form-input {
    padding: 15px 70px;
    border: 1px solid #EAE9F2;
    border-radius: 10px;
    background-color: #F7F7FB;
    margin-bottom: 10px;
}

.box-5-form-icon {
    position: absolute;
    left: 2%;
    top: 3%;
    transform: translate(50%, 50%);
}

.box-5-link {
    background-color: #5454D4;
    color: white;
    text-decoration: none;
    padding: 15px;
    text-align: center;
    border: 1px solid #3D3DAD;
    border-radius: 5px;
    font-size: 20px;
}
.box-5-blok-icon{
    object-fit: contain;
}
.box-5-link-1 {
    background-color: #F0544C;
    color: white;
    text-decoration: none;
    padding: 15px;
    text-align: center;
    border: 1px solid #F0544C;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 52px;
}

.box-5-link-2 {
    background-color: #F0544C;
    color: white;
    text-decoration: none;
    padding: 15px;
    text-align: center;
    border: 1px solid #F0544C;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 30px;
}

.box-5-link:hover {
    color: black;
    transition: 0.3s;
}

.box-5-link-1:hover {
    color: black;
    transition: 0.3s;
}

.box-5-link-2:hover {
    color: black;
    transition: 0.3s;
}

.box-5-item-about {
    padding-bottom: 30px;

}

.box-5-blok-list {
    margin-top: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.box-5-blok-icon {
    width: 40px;
    margin-bottom: 35px;
    margin-left: 80px;
}

.box-5-blok-item {
    height: 100px;
    width: 45%;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    margin: 60px 25px;
}

.box-5-blok-title {
    font-size: 21px;
    line-height: 25px;
    letter-spacing: -0.750316px;
    margin-bottom: 20px;
    color: #FFFFFF;
    margin-bottom: 20px;

}

.box-5-blok-text {
    font-size: 16px;
    line-height: 23px;
    letter-spacing: -0.500211px;
width: 300px;
    color: rgba(255, 255, 255, 0.7);
}

.box-5-blok-info {
    margin-left: 0px;
    text-align: justify;
}

.box-5-button-1 {
    padding: 17px 80px;
    border-radius: 5px;
    border: 1px solid #5454D4;
    background-color: #5454D4;
    color: white;
    font-size: 18px;
    text-align: center;
    margin-top: -1px;

}

.box-5-button,
.box-5-button-1:hover {
    transition: 0.3s;
    cursor: pointer;
    color: black;
}

.box-6 {
    padding: 30px;
    background-color: #F2F2F2;
    /* text-align: center; */
}

.box-6-info-1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom-left-radius: 50px;
}

.box-6-title {
    font-size: 50px;
    line-height: 60px;
    letter-spacing: -1.87579px;
    color: #19191B;
    padding-top: 100px;
    padding-bottom: 30px;

}

.box-6-text {
    line-height: 33px;
    font-size: 19px;
    letter-spacing: -0.656526px;
    color: #696871;
}

.box-6-link {
    background: #F0544C;
    border: 1px solid #C31A12;
    border-radius: 5px;
    font-size: 20px;
    text-decoration: none;
    padding: 15px 50px;
    text-align: center;
    color: white;
    margin-top: 100px;

}

.box-6-link:hover {
    color: black;
    transition: 0.3s;


}

.box-6-info-1 {
    margin-bottom: 100px;
}

.line {
    width: 1342px;
    margin-left: -100px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.footer-title-link {
    text-decoration: none;
    color: black;

    font-size: 25px;
    font-weight: bold;
}

.footer-title-link:hover {
    text-decoration: underline;
    transition: 0.3s;

}

.footer-list {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footer-item {
    margin: 0px 10px;
}

.footer-link {
    text-decoration: none;
    color: black;

}

.footer-link:hover {
    color: red;
    transition: 0.3s;
}